body{
    background-color: antiquewhite;
    margin: 0;
    overflow: hidden;
}

.diagonal-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: rotate(45deg);
    position: fixed;
    top: 0;
    bottom: 0;
    transform-origin: top left;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-title{
    color: black;
    font-size: 125px;
    margin-top: 10%;
    font-weight: 500;
}

input[type=email]{
    padding: 10px;
    font-size: medium;
}

input[type=password]{
    margin-top: 20px;
    padding: 10px;
    font-size: medium;
}

button{
    margin-top: 80px;
    padding-left: 65px;
    padding-right: 65px;
    background-color: black;
    border: 2px solid bisque;
    font-size: medium;
}

button[type=submit]{
    color: aliceblue;
}
